
.form{padding:2px 5px;}
.form input,.form select{vertical-align:middle;}
.fTitle{border-bottom:1px solid #E4E4E4; padding-bottom:0px; margin-bottom:0px;color:#777777;}
.formbox{zoom:1; margin-bottom:15px;}
.formbox:after{content: "\0020";display: block;visibility: hidden;height: 0;clear: both;}
.formbox-title{float:left;text-align:right; height:20px; line-height:20px;width:90px; }
.formbox-title .required{color:#FF0000; margin-right:5px; vertical-align:middle;}
.formbox-item{float:left; margin-right:10px;}
.form-tips{float:left; height:24px; line-height:24px;}
.inputText{height:20px; line-height:20px; border:1px solid #E4E4E4;font-size: 9pt; }
.input-xs{width:60px;}
.input-s{width:120px;}
.input-m{width:200px;}
.input-l{width:300px;}
.nortips{border:1px solid #40B3FF; background:url("../images/common/nor.png") no-repeat scroll 5px 5px #F2FAFF; padding-left:25px; padding-right:10px;}
.errortips{border:1px solid #B94A48; background:url("../images/common/error.png") no-repeat scroll 5px 5px #FFF2E9; padding-left:25px; padding-right:10px;}
.successtips{background:#e5fede url("../images/common/success.gif") no-repeat scroll 2px 2px;padding-left:25px; border:1px solid #36b214;}
input, textarea {
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
-o-transition: border linear 0.2s, box-shadow linear 0.2s;
transition: border linear 0.2s, box-shadow linear 0.2s;
}
input:focus, textarea:focus {
border-color: rgba(82, 168, 236, 0.8);
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
outline: 0;
//outline: thin dotted \9;
/* IE6-8 */
}
input[type="file"]:focus, input[type="checkbox"]:focus, select:focus {
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
outline: thin dotted;
outline: 5px auto -webkit-focus-ring-color;
outline-offset: -2px;
}
select{display: inline-block;width:200px;height: 22px;margin-bottom: 0px;font-size: 9pt;line-height: 22px;color: #555555;border: 1px solid #ccc;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
.checkbox,.radiobox{margin-right:10px; line-height:24px;}
.checkbox input,.radiobox input{margin-right:3px;}
.btn {display:inline-block; height:28px; line-height:28px; color:#333333; text-align:center; margin-right:2px; padding-left:15px; background:url(../images/Common/form-btn.gif) no-repeat 0 0px; cursor:pointer; *display:inline; *zoom:1;}
.btn span {overflow:hidden; display:inline-block; *display:inline; *zoom:1; margin-right:-2px; padding-right:15px; height:28px; line-height:28px; background:url(../images/Common/form-btn.gif) no-repeat 100% 0px; _position:relative;}
.btn:hover,.btn-disable{ color:#333333; background-position:0 -28px; text-decoration:none; }
.btn:hover span,.btn-disable span { background-position:100% -28px;}
.btn-disable,.btn-disable:hover{cursor:not-allowed; color:#999;margin-right:15px;}
.btn-primary{background-position:0 -56px;color:#FFFFFF;}
.btn-primary span{height:28px; line-height:28px;  background-position:100% -56px;}
.btn-primary:hover{background-position:0 -84px; color:#FFFFFF;}
.btn-primary:hover span{ background-position:100% -84px; }
.form-actions{margin-top:20px; margin-left:80px;}
.form-actions .btn-primary{margin-right:15px;}
.submit{display:inline-block; height:28px; line-height:28px; background-color:#3366CC;color:White;text-align:center; margin-right:2px;cursor:pointer;}
.submit:hover,.submit-disable{ color:#333333; text-decoration:none; }