body{
    background: #ebebeb;
    font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;
    color: #222;
    font-size: 12px;
}
*{padding: 0px;margin: 0px;}
.top_div{
    background: #008ead;
    width: 100%;
    height: 400px;
}
.ipt{
    border: 1px solid #d3d3d3;
    padding: 10px 10px;
    width: 290px;
    border-radius: 4px;
    padding-left: 35px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
}
.ipt:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}
.u_logo{
    background: url("../images/login/username.png") no-repeat;
    padding: 10px 10px;
    position: absolute;
    top: 43px;
    left: 65px;

}
.p_logo{
    background: url("../images/login/password.png") no-repeat;
    padding: 10px 10px;
    position: absolute;
    top: 12px;
    left: 65px;
}
a{
    text-decoration: none;
}
.tou{
    background: url("../images/login/tou.png") no-repeat;
    width: 97px;
    height: 92px;
    position: absolute;
    top: -87px;
    left: 140px;
}
.left_hand{
    background: url("../images/login/left_hand.png") no-repeat;
    width: 32px;
    height: 37px;
    position: absolute;
    top: -38px;
    left: 150px;
}
.right_hand{
    background: url("../images/login/right_hand.png") no-repeat;
    width: 32px;
    height: 37px;
    position: absolute;
    top: -38px;
    right: -64px;
}
.initial_left_hand{
    background: url("../images/login/hand.png") no-repeat;
    width: 30px;
    height: 20px;
    position: absolute;
    top: -12px;
    left: 100px;
}
.initial_right_hand{
    background: url("../images/login/hand.png") no-repeat;
    width: 30px;
    height: 20px;
    position: absolute;
    top: -12px;
    right: -112px;
}
.left_handing{
    background: url("../images/login/left-handing.png") no-repeat;
    width: 30px;
    height: 20px;
    position: absolute;
    top: -24px;
    left: 139px;
}
.right_handinging {
    background: url("../images/login/right_handing.png") no-repeat;
    width: 30px;
    height: 20px;
    position: absolute;
    top: -21px;
    left: 210px;
}

.out_div{
    background: rgb(255, 255, 255);
    margin: -100px auto auto;
    border: 1px solid rgb(231, 231, 231);
    border-image: none; width: 400px;
    height: 200px;
    text-align: center;
}

.in_div{
    height: 50px;
    line-height: 50px;
    margin-top: 30px;
    border-top-color: rgb(231, 231, 231);
    border-top-width: 1px;
    border-top-style: solid;
}

.a_login{
    background: rgb(0, 142, 173);
    padding: 7px 10px;
    border-radius: 4px;
    border: 1px solid rgb(26, 117, 152);
    border-image: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}